<!DOCTYPE html>
<html lang="en">
<head>
  <title>FP</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <%-
        '<style>'
        + include(`./../node_modules/font-awesome/css/font-awesome.min.css`)
        + include(`./../node_modules/flag-icons/css/flag-icons.min.css`)
        + include(`./../node_modules/bootstrap/css/bootstrap.min.css`)
        + include(`./../public/my-style.css`)
        + '</style>'
  %>
</head>
<body data-bs-theme="dark">
<div id="parent-container" class="">
  <div class="container-fluid pt-3 border border-white border-bottom-0 rounded">
    <div id="header">
      <div id="flex-item-left">
        <img src="http://localhost:3000/logoBLR.png" alt="Logo"/>
        <h2 id="session-name"><%= sessionNameBLR %></h2>
      </div>
      <div id="flex-item-right">
        <span id="sciah" class="fi fi-<%= grandPrixFlag %>"></span>
        <h5 id="gp-name"><%= grandPrixNameBLR %></h5>
      </div>
    </div>

    <table class="table caption-top table-dark  table-striped rounded-left table-sm">
      <thead class="fs-5">
        <tr>        
          <th scope="col" class="col-1 text-center text-body-secondary"></th>
          <th scope="col" class="col-5 text-body-secondary">Гоншчык</th>
          <th scope="col" class="col-3 text-center text-body-secondary">Адрыў</th>
          <th scope="col" class="col-2 text-center text-body-secondary">Да наступнага</th>
          <th scope="col" class="col-1 text-center text-body-secondary">Ачкі</th>
        </tr>
      </thead>
      <tbody class="table-group-divider fs-4">
          <% for(var i = 0; i < drivers.length; i++) { %>
            <tr>
              <td class="text-center number-font"><%= (i + 1) %></td>
              <td class="driver-name">
                <img src="http://localhost:3000/teams-2024/<%= drivers[i].teamId %>.png" alt="T">
                <span class="big-text"><%= drivers[i].nameBLR %></span>
              </td>
              <td class="text-center number-font"><%= drivers[i].gapToLeaderBLR %></td>
              <td class="text-center number-font"><%= drivers[i].timeToDriverAhead %></td>
              <td class="text-center number-font <%= drivers[i].fastClass %>"><%= drivers[i].points %></td>
            </tr>
          <% } %>
      </tbody>
    </table>
  </div>
    <div class="container-fluid">
          <h3 class="text-left">
            <span class="text-body-secondary">Найхутчэйшае кола: <%= fastestLap %>, <%= fastestDriver.nameBLR %></span>
          </h3>
    </div>
    <!--<div class="container-fluid">-->
    <!--  <h4 class="text-center">-->
    <!--    <span class="text-body-secondary">Formuła Pieramohi   </span><i class="fa fa-telegram"></i>-->
    <!--    <span class="text-body-secondary"> t.me/<b>formula_pieramohi</b></span>-->
    <!--  </h4>-->
    <!--</div>-->
  </div>
</body>
</html>
